/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Base styling */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #4d4d4d;
    margin: 20;
    padding: 20;
    color: #f5f1e6;
    font-size: 14px;
}

/* Paragraph styling */
p {
    margin: 40px;
    line-spacing: 1.2;
}

/* Link styling */
a {
    color: #3e8ded;
    overflow: hidden;
}

/* Title styling */
.title {
    text-align: center;
    margin: 40px;
    font-size: 36px;
    margin-top: 116px; /* To avoid hitting navbar */
}

/* Image styling */

img {
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  padding: 20px;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Blog post styling */
details {
    display: flex;
    text-align: left;
    margin: 40px;
    background-color: #3a3a3a;
    border: solid, 2px;
    border-radius: 8px;
    border-color: #2a2a2a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

summary {
    padding: 20px;
    font-size: 20px;
    transition: background-color 1s, color 1s;
    list-style: none;
    background-color: #3a3a3a;
    border-radius: 6px 6px 0px 0px;
}

summary:hover {
    background-color: #2a2a2a;
}

#blog-text {
    padding: 20px;
    margin: 0px;
    font-size: 14px;
}
