/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Base styling */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #4d4d4d;
    margin: 20;
    padding: 20;
    color: #f5f1e6;
    font-size: 14px;
}

/* Paragraph styling */
p {
    margin: 40px;
}

/* Link styling */
a {
    color: #3e8ded;
}

/* Title styling */
.title {
    text-align: center;
    margin: 20px 20px;
    font-size: 40px;
    margin-top: 120px; /* To avoid hitting navbar */
}

/* Blog post styling */
.details {
    text-align: left;
    width: calc(100% - 80px);
    border-radius: 8px;
    border: solid, 4px;
    border-color: #1a1a1a;
}

.details > summary {
    background-color: #3a3a3a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    width: calc(100% - 80px);
    font-size: 18px;
    border-radius: 8px;
    transition: color 1s, background-color 1s;
    border-color: #2a2a2a;
}

.details > summary:hover {
    background-color: #2a2a2a;
    transition: color 1s, background-color 1s;
}

.details > p {
    padding: 10px;
    font-size: 14px;
}
